div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100px;
}
div.gallery {
  background-color: #737373;
  overflow: auto;
  white-space: nowrap;
}

div.gallery a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

div.gallery a:hover {
  background-color: #333;
}

div.desc {
  padding: 15px;
  text-align: center;
}


div.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background-color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.close:hover {
  background-color: #4CAF50;
  color: white;
}

div.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
div.lightbox img {
  max-width: 90%;
  max-height: 90%;
}