nav {
  margin: 27px auto 0;

  position: relative;
  width: 600px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 120;
}
a:nth-child(2) {
  width: 120px;
}
a:nth-child(3) {
  width: 120px;
}

a:nth-child(4) {
  width: 120px;
}
a:nth-child(5) {
  width: 120px;
}






